{% extends 'partials/body.html' %}
{% load static %}
{% block title %} ¿Quienes somos? {% endblock %}
{% block style %}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  display: none;
}
{% endblock %}
{% block contenido %}
<!-- Back to top button -->
<button type="button" class="btn btn btn-outline-danger " id= "btn-back-to-top" >
  <i class="fas fa-arrow-up"></i>  
</button>
<section id="about" class="py-5">
  <div class="container" >
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'img/logo.png'%}" alt="Logo de la empresa" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="display-4">¡Bienvenido a nuestra comunidad de artesanos!</h2>
        <p class="lead">Nosotros somos Asoarte, la Asociación de Artesanos del Atlántico. Nuestra comunidad reúne a talentosos artistas y artesanos de diferentes disciplinas, desde joyería, ensartado, cerámica, tejido, bordado y hasta esculturas.</p>
        <p class="lead">En Asoarte, valoramos y promovemos el arte tradicional colombiano, transmitiendo técnicas ancestrales y preservando el legado cultural de nuestra región. Cada uno de nuestros artesanos es un maestro en su campo,
           dedicado a la creación de piezas únicas y con una habilidad innata para plasmar la belleza en cada detalle.</p>
        <p class="lead">Nuestros artistas utilizan materiales locales y sostenibles para sus creaciones, incorporando elementos de la naturaleza y técnicas artesanales auténticas. 
          Cada pieza que sale de nuestras manos lleva consigo la historia y la pasión de nuestro pueblo, reflejando la riqueza de nuestra cultura y el amor por nuestro oficio.</p>
        <p class="lead">En nuestra comunidad, fomentamos la colaboración y el intercambio de conocimientos entre los artesanos, creando un espacio donde cada uno puede aprender de los demás y enriquecer su propia práctica.
           También organizamos exposiciones y eventos para dar a conocer el talento de nuestros miembros, conectando con amantes del arte y coleccionistas que aprecian la autenticidad y la originalidad de nuestras obras.</p>
        <p class="lead">Si eres un amante del arte, te invitamos a explorar nuestro catálogo y descubrir las maravillas que nuestros artesanos han creado con sus manos.
           Cada compra que realices en nuestra comunidad de Asoarte es una inversión en el trabajo arduo y la creatividad de nuestros talentosos artistas, contribuyendo a preservar nuestro patrimonio cultural y a apoyar a las comunidades artesanales locales.</p>
        <p class="fs-5">¡Únete a nuestra comunidad de artesanos y adéntrate en el fascinante mundo de la artesanía colombiana!</p>
        <a class="btn btn-dark" href="{% url 'login' %}">Unirme</a>
      </div>
    </div>
  </div>
</section>
{% endblock contenido %}

{% block script %}  
//Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
  {% endblock %}