{% extends 'partials/body.html' %}
{% block title %} Facturas {% endblock %}
{% load static %} 
{% block pscript %}
var fechaActual = new Date();
        var fechaTexto = fechaActual.toLocaleDateString();

        window.onload = function() {
            document.getElementById('fecha').innerHTML = fechaTexto;
        };

function generarNumeroAleatorio() {
  var numeroAleatorio = Math.floor(Math.random() * 1000000) + 10;
  document.getElementById('numero').innerHTML = numeroAleatorio;
}
document.addEventListener('DOMContentLoaded', function() {
  generarNumeroAleatorio();
});
{% endblock pscript %}
{% block contenido %} 

<div class="container">
  <div class="row">
    <div class="col">
      <p>Resumen de la orden</p>
      <h4>Factura</h4>      
      <h4>Código de factura: <span id="numero"></span> </h4> 
      <h5>Fecha de pedido: <span id="fecha"></span> </h5>
    </div>
    <div class="col order-5">
      <img
        src="{% static 'img/asoarte.png' %}"
        width="200"
        height="141"
        class="rounded float-start"
        alt="Asoarte"
      />
    </div>
    <div class="col order-1"></div>
  </div>
  <hr />
  <dl class="row">
    <dt class="col-sm-3">Comprador</dt>
    <dd class="col-sm-9">{{ user.first_name}} {{ user.last_name}}</dd>
    <dt class="col-sm-3">Correo</dt>
    <dd class="col-sm-9">{{ user.email }}</dd>
  </dl>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unitario</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in request.session.carrito.items %}
      <tr>
        <th scope="row">{{value.producto_id}}</th>
        <td>{{value.nombre}}</td>
        <td>{{value.cantidad}}</td>
        <td>$ {{value.valor |floatformat:2}}</td>
      </tr>
      {%endfor%}
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Total:</th>
      <th scope="col">$ {{ total_carrito|floatformat:2 }}</th>
    </tbody>
  </table>


</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-4 ms-auto">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Enviar</button>
    </div>
  </div>    
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario para el envio factura</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">        
              <!--Formulario-->  
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body ">                            
                      <form class="row g-3" action="" method="POST">
                        {% csrf_token %}
                          <div class="col-12">
                            <label for="name" class="form-label">Nombre y Apellido</label>
                            {{ form.nombre }}
                            {{ form.nombre.errors }}
                          </div>
                          <div class="col-12">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                          </div>
                          <div class="col-12">
                            <label for="message" class="form-label">Detalles de Compra</label>
                            <textarea id="message" name="message" class="form-control" readonly>
{% for key, value in request.session.carrito.items %} Producto_id: {{value.producto_id}} Nombre: {{value.nombre}} Cantidad: {{value.cantidad}} Valor: $ {{value.valor |floatformat:2}}{%endfor%} Total: $ {{ total_carrito|floatformat:2 }}</textarea>
                            {{ form.message.value }}
                            {{ form.message.errors }}
                          </div>
                          &nbsp;
                          <div class="col-12">
                            <div class="d-flex justify-content-end">
                              <a href="{% url 'factura' %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
                              &nbsp;
                              <input class="btn btn-primary" type="submit" value="Enviar Mensaje" {% if 'ok' in request.GET %}disabled{% endif %}{% if 'error' in request.GET %}disabled{% endif %}>
                            </div>
                          </div>
                      </form>
                      {% if 'ok' in request.GET %}
                      <div class="alert alert-success mt-5" role="alert">
                          <strong>El mensaje se ha enviado correctamente</strong>
                      </div>
                  {% endif %}
          
                  {% if 'error' in request.GET %}
                      <div class="alert alert-danger mt-5" role="alert">
                          <strong>El mensaje no ha podido ser enviado. Por favor, intente más tarde</strong>
                      </div>
                  {% endif %}
                    </div>
                  </div>
                </div>
              </div>
      </div>

    </div>
  </div>
</div>
{% endblock contenido %}
